.advantages {
  @extend .container;
  max-width: 480px;

  .advantages__list {
    padding: 60px 0;
  }

  .advantages__icon {
    background-color: $advantagesBackgroundColor;
    border-radius: $defaultBorderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 190px;
  }

  .advantages__group {
    margin: 30px 0;
  }

  .advantages__title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.15rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  .advantages__description {
    font-size: 0.875rem;
    line-height: 1.7rem;
    letter-spacing: 0.03em;
    color: $secondaryColor;
    height: 50px;
  }
}

// .advantages {
//   @extend .container;
//   @extend .section;

//   .advantages__list {
//     display: flex;
//     justify-content: center;
//     gap: 30px;
//     margin-bottom: 94px;
//   }

//   .advantages__icon {
//     background-color: $advantagesBackgroundColor;
//     border-radius: $defaultBorderRadius;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 25px 100px;
//   }

//   .advantages__title {
//     font-weight: 700;
//     font-size: 0.875rem;
//     line-height: 1.15rem;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin: 30px 0 10px 0;
//   }

//   .advantages__description {
//     font-size: 0.875rem;
//     line-height: 1.7rem;
//     letter-spacing: 0.03em;
//     color: $secondaryColor;
//     width: 270px;
//     height: 75px;
//   }
// }
