.advantages {
  @extend .container;
  max-width: 480px;

  .advantages__list {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .advantages__icon {
    background-color: $advantagesBackgroundColor;
    border-radius: $defaultBorderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 190px;
    margin-bottom: 30px;
  }

  .advantages__title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.15rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  .advantages__description {
    font-size: 0.875rem;
    line-height: 1.7rem;
    letter-spacing: 0.03em;
    color: $secondaryColor;
    height: 50px;
  }
}

@media (min-width: 768px) {
  .advantages {
    max-width: 768px;

    .advantages__list {
      padding-bottom: 45px;
    }

    .advantages__icon {
      padding: 25px 142px;
    }

    .advantages__title {
      text-align: left;
    }

    .advantages__description {
      width: 354px;
      height: 75px;
    }
  }
}

@media (min-width: 1200px) {
  .advantages {
    max-width: 1200px;

    .advantages__list {
      padding: 0;
      margin: 94px 0;
    }

    .advantages__icon {
      padding: 25px 100px;
    }

    .advantages__description {
      width: 270px;
      height: 75px;
    }
  }
}
