.button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: $defaultBackgroundColor;
  background-color: $accentColor;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: $defaultBorderRadius;
  border-style: none;
  width: 200px;
  height: 50px;
  transition-property: opacity;
  transition-duration: $duration;
  transition-timing-function: $timingFunction;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &:hover {
    opacity: 0.9;
  }
}
