.clients {
  @extend .container;
  max-width: 480px;

  .clients__container {
    padding: 60px 0;
  }

  .clients__title {
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .clients__link {
    border: 1px solid $iconColor;
    border-radius: $defaultBorderRadius;
    padding: 13px 51px;
    cursor: pointer;
    fill: $iconColor;
    transition-property: fill, border, border-radius;
    transition-duration: $duration;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      fill: $accentColor;
      border: 1px solid $accentColor;
      border-radius: $defaultBorderRadius;
    }
  }
}

@media (min-width: 768px) {
  .clients {
    max-width: 768px;

    .clients__link {
      padding: 13px 59px;
    }
  }
}

@media (min-width: 1200px) {
  .clients {
    max-width: 1200px;

    .clients__title {
      font-size: 2.25rem;
      line-height: 2.6rem;
    }

    .clients__container {
      padding: 94px 0;
    }

    .clients__link {
      padding: 16px 31px;
    }
  }
}
