.clients {
  padding: 60px 15px;

  .clients__title {
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .clients__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .clients__link {
    border: 1px solid $iconColor;
    border-radius: $defaultBorderRadius;
    padding: 13px 51px;
    cursor: pointer;
    fill: $iconColor;
    transition-property: fill, border, border-radius;
    transition-duration: $duration;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      fill: $accentColor;
      border: 1px solid $accentColor;
      border-radius: $defaultBorderRadius;
    }
  }
}

// .clients {
//   @extend .container;
//   @extend .section;

//   .clients__title {
//     font-weight: 700;
//     font-size: 2.25rem;
//     line-height: 1.2rem;
//     text-align: center;
//     letter-spacing: 0.03em;
//     display: block;
//     margin-bottom: 50px;
//   }

//   .clients__container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 30px;
//   }

//   .clients__link {
//     border: 1px solid $iconColor;
//     border-radius: $defaultBorderRadius;
//     padding: 16px 32px;
//     cursor: pointer;
//     fill: $iconColor;
//     transition-property: fill, border, border-radius;
//     transition-duration: $duration;
//     transition-timing-function: $timingFunction;

//     &:hover,
//     &:focus {
//       fill: $accentColor;
//       border: 1px solid $accentColor;
//       border-radius: $defaultBorderRadius;
//     }
//   }
// }
