.header {
  @extend .container;
  min-width: 320px;
  border-bottom: 1px solid $headerLineColor;

  .header__container {
    padding: 16px 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .header__contact {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    .header__container {
      padding: 20px 0;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .header__contact {
      display: block;
    }

    .header__item:not(:last-child) {
      margin-bottom: 10px;
    }

    .header__link {
      display: block;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 0.02em;
      color: $secondaryColor;
      fill: $secondaryColor;
      transition-property: color, fill;
      transition-duration: $duration;
      transition-timing-function: $timingFunction;

      &:hover,
      &:focus {
        color: $accentColor;
        fill: $accentColor;
      }
    }

    .header__link--start {
      margin-left: 2px;
    }

    .header__icon {
      margin-right: 7px;
      vertical-align: text-top;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1200px;

    .header__container {
      padding: 24px 0;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 93px;
    }

    .header__contact {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      gap: 30px;
      margin-right: 12px;
    }

    .header__link {
      display: block;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.15rem;
      letter-spacing: 0.02em;
      color: $secondaryColor;
      fill: $secondaryColor;
      transition-property: color, fill;
      transition-duration: $duration;
      transition-timing-function: $timingFunction;

      &:hover,
      &:focus {
        color: $accentColor;
        fill: $accentColor;
      }
    }

    .header__icon {
      margin-right: 7px;
      vertical-align: text-top;
    }
  }
}
