.hero {
  background-color: $additionalBackgroundColor;
  background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
    url('../images/hero/heroMobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 118px 0;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroMobile@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroMobile@3x.jpg');
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $defaultBackgroundColor;
  margin-bottom: 30px;
  max-width: 365px;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroTablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroTablet@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroTablet@3x.jpg');
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
      url('../images/hero/heroDesktop.jpg');
    padding: 200px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
        url('../images/hero/heroDesktop@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
        url('../images/hero/heroDesktop@3x.jpg');
    }
  }

  .hero__title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    max-width: 696px;
  }
}
