.hero {
  background-color: $additionalBackgroundColor;
  background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
    url('../images/hero/hero480.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 118px 0;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $defaultBackgroundColor;
  width: 365px;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .hero__title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    width: 696px;
  }
}
