.hero {
  background-color: $additionalBackgroundColor;
  background-image: linear-gradient(0deg, $heroLinearGradinet, $heroLinearGradinet),
    url('../images/hero/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;

  .hero__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-weight: 900;
    font-size: 2.75rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $defaultBackgroundColor;
    display: block;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
  }
}
