.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transform: fill;
  transition-property: $duration;
  transition-timing-function: $timingFunction;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.close-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transform: fill;
  transition-property: $duration;
  transition-timing-function: $timingFunction;
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $defaultBackgroundColor;
  z-index: 999;
  transform: translateX(100%);
  transition: transform $duration $timingFunction;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-nav__link {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.02em;
    color: $primaryColor;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  .contact-list {
    margin-bottom: 64px;
  }

  .contact-list__item:not(last-child) {
    margin-bottom: 32px;
  }

  .contact-list__link {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    color: $accentColor;
  }

  .contact-list__link--style {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    color: $secondaryColor;
  }

  .social-list__item {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .social-list__item:last-child {
    border: none;
  }

  .social-list__link {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.02em;
    color: $accentColor;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
