.offer {
  text-align: center;

  .offer__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 50px;
  }

  .offer__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .offer__item img {
    display: block;
  }

  .offer__item {
    position: relative;
  }

  .offer__name {
    position: absolute;
    bottom: 0px;
    width: 370px;
    padding: 27px 0;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $defaultBackgroundColor;
    background-color: $offerBackgroundColor;
  }
}
