@media (max-width: 1200px) {
  .offer {
    display: none;
  }
}

@media (min-width: 1200px) {
  .offer {
    max-width: 1200px;
    padding-bottom: 94px;
    text-align: center;

    .offer__title {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.6rem;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }

    .offer__list {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    .offer__item {
      position: relative;
    }

    .offer__img {
      display: block;
      width: 100%;
      height: auto;
    }

    .offer__name {
      position: absolute;
      bottom: 0px;
      width: 370px;
      padding: 27px 0;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.15rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $defaultBackgroundColor;
      background-color: $offerBackgroundColor;
    }
  }
}
