.team-bg {
  background-color: $advantagesBackgroundColor;
}

.team {
  @extend .container;

  .team__container {
    padding: 60px 0;
  }

  .team__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team__card {
    background-color: $defaultBackgroundColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
    height: 622px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-img {
    display: block;
    width: 100%;
  }

  .team__header {
    display: block;
    text-align: center;
    padding-top: 30px;
  }

  .team__name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  .team__subtitle {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.03em;
    color: $secondaryColor;
  }

  .team__social {
    padding: 16px 0 24px 0;
  }
}

@media (min-width: 768px) {
  .team {
    max-width: 768px;

    .team__card {
      width: 354px;
      height: 536px;
    }
  }
}

@media (min-width: 1200px) {
  .team {
    max-width: 1200px;

    .team__container {
      padding: 94px 0;
    }

    .team__title {
      font-size: 2.25rem;
      line-height: 2.6rem;
    }

    .team__card {
      width: 270px;
      height: 428px;
    }
  }
}
