$accentColor: rgba(33, 150, 243, 1);
$additionalBackgroundColor: rgba(47, 48, 58, 1);
$advantagesBackgroundColor: rgba(245, 244, 250, 1);
$defaultBackgroundColor: rgba(255, 255, 255, 1);
$defaultTextColor: rgba(33, 33, 33, 1);
$footerLinkColor: rgba(255, 255, 255, 0.5);
$headerLineColor: rgba(236, 236, 236, 1);
$heroLinearGradinet: rgba(47, 48, 58, 0.4);
$iconColor: rgba(175, 177, 184, 1);
$newsletterBorderColor: rgba(255, 255, 255, 0.3);
$newsletterTextColor: rgba(255, 255, 255, 0.6);
$offerBackgroundColor: rgba(47, 48, 58, 0.8);
$primaryColor: rgb(0, 0, 0, 1);
$productBackgroundColor: rgba(33, 150, 243, 0.9);
$secondaryColor: rgba(117, 117, 117, 1);
$socialBackgroundColor: rgba(255, 255, 255, 0.1);
$defaultFontStyle: 'Roboto', sans-serif;
$optionalFontStyle: 'Raleway', sans-serif;
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$defaultBorderRadius: 4px;
